@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light !important;
  background-color: white !important;
}

html {
  background-color: white !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: white !important;
    color: black !important;
  }
}
